# Projeto 2 - Ciência dos Dados

Integrante 1: Bruno Boldrim Saboya

Integrante 2: Lucas Kang

Integrante 3: Murilo Prado Weyne

In [51]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re
from collections import Counter

In [52]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\muril\Documents\GitHub\Projeto2_CDADOS

In [53]:
dados = pd.read_csv("tripadvisor_hotel_reviews.csv")

In [54]:
dados

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [55]:
dados.describe()

             Rating
count  20491.000000
mean       3.952223
std        1.233030
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000

In [56]:
def cleanup(text):
    limpar = ['@', '(', ')', '[', ']', '+', '-', '\n', '\t', 'rt']
    punctuation = '[!-.:?;/]' # Note que os sinais [] são delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    for t in limpar:
        text_subbed = text_subbed.replace(t, ' ')
    return text_subbed

In [57]:
lista_review = dados["Review"].tolist()

In [58]:
lista_review_listas = []
for i in lista_review:
    i = cleanup(i)
    i = i.split()
    lista_review_listas.append(i)

In [59]:
dados["Review"][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '

In [81]:
pos = "unique, wonderful, excellent, great, awesome, love, nice, don’t complain, memorial, cozy, generous, uniquely, friendly, fantastic, good, comfortable, delightful, enjoyed, remarkable, outstanding, helpful, unbeatable, boutique, loved, pretty, positive, perfect, charming, gorgeous, elegant, greatest, relaxing, pleasantly, best, favorite, impressed, friendliest, happy, love, enjoyable, quality, advantage, elegance, satisfied, magnificent,  fabulous, nice, good"
neg = "horrible, disgusted, unbelievable, apologizing, problem, disappointment, noise, bad, rude, unfriendly, hated, incompetence, worst, unacceptable, pathetic, terrible, no effort, unforgivable, old, problems, overpriced, ruined, noise, nasty, poor, beware, worst, avoid, awful, expensive, disgusted, nightmare, dangerous, yuck, basic, sadly, overrated, decent, noisy, avoid, rude, disappointing, disappointed, underwhelming, shame, worthless"

In [82]:
def listfy(string): 
    li = list(string.split(" ")) 
    return li

In [83]:
lis_pos = listfy(pos)
lis_neg = listfy(neg)

lista_pos_clean = []
for l in lis_pos:
    l = cleanup(l)
    lista_pos_clean.append(l)
lista_neg_clean = []
for u in lis_neg:
    u = cleanup(u)
    lista_neg_clean.append(u)

In [84]:
for myList in [["unique, great stay, wonderful time hotel monaco, location excellent short stroll main downtown shopping area, pet friendly room showed no signs animal hair smells, monaco suite sleeping area big striped curtains pulled closed nice touch felt cosy, goldfish named brandi enjoyed, did n't partake free wine coffee/tea","nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night"],[3,5,1],[13,11,12]]:
    for item in myList:
        print(item)

unique, great stay, wonderful time hotel monaco, location excellent short stroll main downtown shopping area, pet friendly room showed no signs animal hair smells, monaco suite sleeping area big striped curtains pulled closed nice touch felt cosy, goldfish named brandi enjoyed, did n't partake free wine coffee/tea
nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night
3
5
1
13
11
12

In [93]:
peso_positivo = 0
peso_negativo = 0
for x in lista_review_listas[0]:
    if x in lista_pos_clean:
        peso_positivo += 1
        print(x)
    elif x in lista_neg_clean:
        peso_negativo += 1
        print(x)
peso_total = peso_positivo+peso_negativo
prob_pos = peso_positivo/peso_total
prob_neg = peso_negativo/peso_total
peso_positivo

nice
expensive
good
disappointed
nice
noisy
nice
nice
advantage
great
nice

8